.header {
  background-color: #1e73be;
  height: 50vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: auto;
}

.footer {
  background-color: #174a78;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .header > div {
    flex-direction: column;
  }
}
